@font-face {
    font-family: "PixelOM";
    src: url(../fonts/pixeloperatormono.ttf);
}

body {
    background-color: #181928;
    margin: 0;
    color: white;
    font-family: "PixelOM", sans-serif;
}

.jumbotron {
    margin-bottom: 25px;
}

.hamsterPirate {
    width: 5.3rem;
}

.titleText {
    color: white;
    font-size: 2rem;
}

.card {
    background-color: #2F3045;
    text-align: center;
    color: white;
}

.card-header {
    font-size: 1.9rem;
}

.card-header > img {
    width: 40px;
}

.card-body {
    font-size: 1.5rem;
    padding-bottom: 0.3rem;
}

.card-body > input {
    width: 100%;
}

.card-body > input::-webkit-outer-spin-button,
.card-body > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.personalPower {
    margin-bottom: 15px;
}

#powerButton {
    color: white;
    border-color: white;
}

.rewardBody {
    font-size: 1.4rem;
    margin-top: 10px;
}

.powerInputBody {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.secondPowerRow {
    margin-top: 25px;
}

.columnWidthOverride {
    width: 12.499%;
}

/* Functional CSS */
.hidden {
    display: none;
    transition: display 0.4s;
}

.visible {
    display: block;
    transition: display 0.4s;
}

.collapseArrow {
    height: 20px;
}

.imgFlip {
    transform: rotateX(180deg);
    /* transition: transform 0.4s; */
}