body {
    height: 100%;
    position: relative;
}

label {
    margin-bottom: 0;
}

footer {
    bottom: 0;
    text-align: center;
    padding: auto;
}

.labeltext {
    margin-left: 3%;
}

.spacing {
    margin-top: 10px;
}

.edger {
    margin-left: 15px;
}

.header-margin {
    padding-left: 6%;
}

.titletext {
    display: inline-block;
}

.inputlabel {
    display: block;
}

/* <<<<<<<<<<<<<<<<<<< Media Query >>>>>>>>>>>>>>>>>>> */

@media (max-width: 767px) {
    .edger {
        margin: auto;
        text-align: center;
    }
    .jumbotron {
        padding: 1rem 0;
        margin-bottom: 0.5rem;
    }

    .titletext {
        text-align: center;
        margin: auto;
    }

    .img-fluid {
        margin-left: 30%;
    }

    .inputlabel {
        position: relative;
        display: block;
        text-align: left;
    }

    .spacerInput {
        display: block;
    }
    
}