body {
    height: 100%;
    position: relative;
    background-color: rgba(224,143,98,1);
    font-family: 'Belleza', sans-serif;
    color: white;
    text-shadow: black 0px 0px 10px;
}

.jumbotron {
    background: rgb(163,86,56);
    background: linear-gradient(180deg, rgba(163,86,56,1) 0%, rgba(224,143,98,1) 35%);
    margin-bottom: 0;
    padding-bottom: 1rem;
}

label {
    margin-bottom: 0;
}

footer {
    bottom: 0;
    text-align: center;
    padding: auto;
    z-index: 2;
    padding: 5% 5% 0;
}

/** Support me Navframe**/

.supportMe {
    
}

.labeltext {
    margin-left: 3%;
}
.hashinput {
    margin-bottom: 35px;
}
.hashinputdiv {
    padding-bottom: 10px;
    position: relative;
    margin: auto;
}

.hashinputdiv, label {
    margin-top: 7px;
}

.hashinputdiv, select {
    height: 30px;
}

.hashpowerHelpIMG {
    position: absolute;
    margin-left: 110%;
    margin-top: -90%;
    display: inline-block;
    z-index: 100;
    opacity: 1;
    transition: opacity 0.5s linear;
}

.hide {
    opacity: 0;
    transition: opacity 0.5s linear;
}

.fa-question-circle {
    margin-left: 4px;
    position: absolute;
    color: rgb(174, 209, 255);
}

.netpowerinput, .col-md-2 {
    padding-right: 0;
}

.netpowerrlt {
    padding-left: 0;
}

.main-section {
    background: rgb(224,143,98);
    background: linear-gradient(180deg, rgba(224,143,98,1) 0%, rgba(224,143,98,11) 35%);
    z-index: 2;
}

.spacing {
    margin-top: 10px;
}

.edger {
    padding-left: 15px;
}

#hamsterpirate {
    padding-left: 6%;
}

.inputlabel {
    display: block;
}

/** Technical re-usable style **/ 

.pointer {
    cursor: pointer;
}

.inline-block {
    display: inline-block;
}