body {
    height: 100%;
    position: relative;
}

label {
    margin-bottom: 0;
}

footer {
    bottom: 0;
    text-align: center;
    padding: auto;
}

.labeltext {
    margin-left: 3%;
}

.spacing {
    margin-top: 10px;
}

.edger {
    margin-left: 15px;
}

#hamsterpirate {
    padding-left: 6%;
}

.titletext {
    padding-left: 6%;
    display: inline-block;
}

.inputlabel {
    display: block;
}
